# Python & Django (Essential for Backend)
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
media/
static/

# AI & Media Files
*.pt
*.jpg
*.png
videos/

# Project Specific Folders
gates/
tracknav/
slotscript/

# Miscellaneous & IDEs
.idea/
.vscode/
*.log
*.swp
.DS_Store

# Mobile/Flutter (From the other branch)
**/doc/api/
.dart_tool/
/build/
/android/app/debug
/android/app/profile
/android/app/release